/* Variables
 * -------------------- */


/* Colors
 * -------------------- */
$color-black: 		#000000;
$color-white: 		#ffffff;
$color-grey:		#87888a; // i.e. meta nav
$color-light-grey:  #9c9e9f;
$color-super-light: #f1f1f1; // i.e. nav background

$color-blue:   #99caea;
$color-green:  #85ae9a;
$color-gold:   #c4b682;
$color-yellow: #f2e300; 


/* Gutter
 * -------------------- */
$gutter: 		15px;
$gutter-double: 30px;
$gutter-triple: 60px;


/* Font sizes
 * -------------------- */
$font-size-default: 1.6;
$font-size-small:  1.3;
