/**
 * Variables
 * -----------------------------------------------------------------------------
 */


/* Colors
 * -------------------- */

$color--black: #000000;
$color--white: #ffffff;
$color--link:  #e3e3e3;


/* Gutter
 * -------------------- */

$gutter: 		 10px;
$gutter--double: 20px;
$gutter--triple: 30px;


/* Font sizes
 * -------------------- */

$font-size--small:   1.2;
$font-size--base:    1.6;
$font-size--medium:  2.0;
$font-size--large:   2.4;

