/**
 * Variables
 * -----------------------------------------------------------------------------
 */


/* Colors
 * -------------------- */

$color--black: 		#000000;
$color--white: 		#ffffff;


/* Gutter
 * -------------------- */

$gutter--half:		 5px;
$gutter: 		    10px;
$gutter--double:    20px;
$gutter--triple:    30px;
$gutter--quadruple: 40px;


/* Paths
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '../img/icons/';


/* Font sizes
 * -------------------- */

$font-size--small:  1.2;
$font-size--base:   1.6;
$font-size--medium: 2;
$font-size--large:  2.4;
